.moviesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.form{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.form>label{
    width: 38px;
    /* color: red; */
    text-align: center;
    margin-right: 5px;
}
.form>label>svg{
    width: 25px;
    height: 25px;
}
.form>input{
    background-color: transparent;
    border-style: none;
    color: var(--color-white);
    flex-grow: 1;
    outline: none;
    transition: 0.2s;
    font-size: 18px;
}
.form>input:focus{
    border-bottom: 1px solid var(--color-greyish-blue);
    font-size: 15px;

}