@media only screen and(min-width:1024px) {
    .header {
        flex-direction: column;
        min-height: 90vh;
        width: 8rem;
        border-radius: 15px;
    }

    .header>nav>ul {
        flex-direction: column;
        gap: 2rem;
    }

    .header>nav {
        height: 30rem;
        justify-content: start;
        align-items: start;
        /* background-color: red; */
    }

    .header>figure>svg {

        width: 42px;
        height: 42px;
    }

    .header>nav>ul svg {
        width: 30px;
        height: 30px;
    }
}