.App {
    min-width: 320px;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    font-size: var(--font-size-heading-s);
    font-weight: 400;
    width: 100%;
    min-height: 100vh;
}

main {
    width: 90%;
    margin: 0 auto;
}

