:root{
    --color-red: #FC4747;
    --color-dark-blue: #10141E;
    --color-greyish-blue: #5A698F;
    --color-semi-dark-blue: #161D2F;
    --color-light-grey:rgba(255, 255, 255, 0.75);
    --color-white: #FFFFFF;
    --font-size-heading-l: 32px;
    --font-size-heading-m: 24px;
    --font-size-heading-s: 18px;
    --font-size-body-m: 15px;
    --font-size-body-s: 13px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-body-m);

}
